@import url('http://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans|Montserrat|MerriweatherAlegreya+Sans|Cantora+One|Dancing+Script');
.top-bar {
  height: 100px;
  background-color: $blue;
  input {
    max-width: 300px;
  }
}
.top-menu {
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -20px;
  .menu {
    width: 250px;
    margin: 0;
    display: inline-block;
    .has-form {
      width: 300px;
      .columns {
        margin-top: 0px;
      }
      .search-button {
        margin-top: -40px;
        position: relative;
        left: 80px;
        .button.alert {
          background-color: $yellow;
          &:hover {
            background: darken($yellow, 5%);
          }
        }
      }
    }
    a {
      font-size: 24px;
      // font-weight: normal;
    }
  }
}

$grid-column-gutter: 0px;
.column {
  padding: 0 10px;
  margin-top: -20px;
  .image-container {
    h2 {
      visibility: hidden;
      font-family: $body-font;
      font-size: 18px;
      text-align: center;
    }
    i {
      position: relative;
      float: right;
      z-index: 2;
      top: 30px;
      right: 10px;
      color: $blue;
      visibility: hidden;
    }
    a:hover {
      i {
        color: $yellow;
      }
    }
    .fa-check-circle {
      color: $yellow;
      visibility: visible;
    }
    &:hover {
      h2 {
        visibility: visible;
      }
      .fa-plus {
        visibility: visible;
      }
    }
  }
}
.grid {
  max-width: 98%;
  margin-top: 30px;
  img {
    z-index: 1;
    object-fit: cover;
    height: 275px;
    width: initial;
  }
}
