@import url('http://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans|Montserrat|MerriweatherAlegreya+Sans|Cantora+One|Dancing+Script');
body {
  height: auto;
}
.top-bar {
  height: 100px;
  background-color: $lightgray;
  input {
    max-width: 300px;
  }
}
.top-menu {
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -20px;
  img {
    width: 8%;
    position: absolute;
    left: -80px;
    top: -30px;
  }
  .menu {
    width: 250px;
    margin: 0;
    display: inline-block;
    .has-form {
      width: 300px;
      .columns {
        margin-top: 0px;
      }
      .search-button {
        margin-top: -40px;
        position: relative;
        left: 80px;
        .button.alert {
          background-color: $yellow;
          &:hover {
            background: darken($yellow, 5%);
          }
        }
      }
    }
    a {
      font-size: 24px;
    }
  }
}

.alert {
  visibility: hidden;
  font-family: $body-font;
  text-align: center;
  position: relative;
  top: 300px;
  left: 150px;
}
$grid-column-gutter: 0px;
.column {
  padding: 0 10px;
  margin-top: -20px;
  .image-container {
    h2 {
      visibility: hidden;
      font-family: $body-font;
      font-size: 14px;
      text-align: center;
    }
    i {
      position: relative;
      float: right;
      z-index: 2;
      top: 30px;
      right: 10px;
      color: $blue;
      visibility: hidden;
    }
    a:hover {
      i {
        color: $yellow;
      }
    }
    .fa-check-circle {
      color: $yellow;
      visibility: visible;
    }
    &:hover {
      h2 {
        visibility: visible;
      }
      .fa-plus {
        visibility: visible;
      }
    }
  }
}
.grid {
  max-width: 98%;
  margin-top: 30px;
  img {
    z-index: 1;
    object-fit: cover;
    height: 275px;
    width: initial;
  }
}

.container {
  width: 400px;
  height: 500px;
  background-color: $lightgray;
  border-style: solid;
  border-width: 0.5px;
  border-color: $borderColor;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -300px;
  .instructions{
    position: relative;
    text-align: center;
    top: 50%;
    margin-top: -50px;
    img {
      width: 25%;
      position: absolute;
    }
    #suitcase {
      left: 0px;
      top: -200px;
    }
    #camera {
      left: 40px;
      top: 180px;
    }
    #airplane {
      left: 280px;
      top: -160px;
    }
    p {
      font-family: $body-font;
      font-size: 15px;
    }
  }
}
.quote {
  p {
    font-family: $quote-font;
    text-align: center;
    font-size: 20px;
  }
  position: fixed;
  left: 50%;
  margin-left: -230px;
  bottom: 75px;
}

.bottom-bar {
  height: 100px;
  position: fixed;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  background: $lightgray;
}
.next {
  position: fixed;
  left: 50%;
  margin-left: -50px;
  bottom: 15px;
  .button {
    padding: 0px;
  }
  .button.tiny {
    font-size: 16px;
    width: 100px;
    height: 30px;
    background-color: $yellow;
  }
}

.side_container {
  .container {
    position: absolute;
    top: 50%;
    left: 15%;
    margin-left: -150px;
    margin-top: -250px;
    width: 300px;
    height: 400px;
    #pics {
      left: 0px;
      top: -140px;
    }
    #bus {
      left: 200px;
      top: 175px;
    }
  }
  h3 {
    font-family: $body-font;
    text-align: center;
  }
  ul {
    list-style: none;
    text-align: center;
    li {
      font-family: $body-font;
      margin-left: -20px
    }
  }
}

h1 {
  font-family: $body-font;
  font-size: 22px;
  text-align: center;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 700px;
  width: 70%;
  float: right;
  z-index: 2;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  // height: 100%;
  // margin: 0;
  // padding: 0;
}
