// fonts
$header-font  : 'Montserrat', sans-serif;
$intro-title  : 'Cantora One';
$body-font    : 'Open Sans';
$quote-font   : 'Dancing Script';
$font-body-text  : Alegreya Sans;

// colors
$blue   :   #5EA3FB;
$yellow :   #ffcc00;
$lightgray : #EEF1F7;
$borderColor : #E0E9F0;
