// fonts
$header-font  : 'Montserrat', sans-serif;
$intro-title  : 'Cantora One';
$body-font    : 'Open Sans';
$quote-font   : 'Dancing Script';
$font-body-text  : Alegreya Sans;

// colors
$blue   :   #2196F3;
$yellow :   #ffcc00;
