<nav class="top-bar">
  <div class="top-menu">
    <ul class="search-bar menu">
      <li class="has-form">
        <form ng-submit="searchPlace()">
          <input ng-model="searchText" type="text" placeholder="Search: city or country">
        </form>
        <div class="large-4 small-3 columns search-button">
          <button type="submit" ng-click="searchPlace()" class="alert button expand">
              <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="grid row small-up-1 medium-up-2 large-up-4">
  <div class="column" ng-repeat="(link, caption) in images">
    <div class="image-container">
      <a ng-click="addImage(link)"><i id="{{link}}" class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
      <img class="img-responsive" ng-src="{{ link }}" />
      <h2>{{ caption }}</h2>
    </div>
    <!-- <a ng-href="#/details/{{s.imdbID}}"><img ng-src="./data/images/{{s.imdbID}}.jpg"/></a> -->
  </div>
</div>
