<div class="container">
  <div class="instructions">
    <img id="suitcase" src='../media/suitcase.png'></img>
    <img id="airplane" src='../media/airplane.png'></img>
    <img id="camera" src='../media/camera1.png'></img>
    <p>We love travelling...and guess you do, too</p>
    <p>1. Search a city of country.
    <br>2. Select images that you want to visit.
    <br>3. View on map.
    <br>4. Travel!</p>
  </div>
</div>
<div class="quote">
  <p>"Once a year, go some place you've never been before." -Dalai Lama</p>
</div>
<div class="next">
  <a href="#/gallery"><button class="button tiny info">Next</button></a>
</div>
